<div class="container">
  <div class="main">
    <div class="header">
      <h2 class="title">TRANSFORM SUMMIT</h2>
      <h4>Reaching this generation</h4>
    </div>
    <ng-template [ngIf]="view==='form'" [ngIfElse]='success'>
      <ng-template [ngIf]="loader===true" [ngIfElse]="loaded">
        <div class="loader-container">
          <div class="loader"></div>
        </div>
      </ng-template>
      <ng-template #loaded>
        <form class="body" [formGroup]="registrationForm" (ngSubmit)="submit()">
          <div class="section personal">
            <h4 class="heading">1. Personal Details</h4>
            <div class="input-section">
              <label>Full Name</label>
              <input type="text" formControlName="fullname" placeholder="e.g. FirstName LastName" />
            </div>
            <div class="input-section">
              <label>Gender</label>
              <div class="radios">
                <button class="btn btn-lg" type="button" [ngClass]="{'active':registrationForm.value.gender === 'M'}"
                  (click)="changeGender('M')">Male</button>
                <button class="btn btn-lg" type="button" [ngClass]="{'active':registrationForm.value.gender === 'F'}"
                  (click)="changeGender('F')">Female</button>
              </div>
            </div>
            <div class="input-section">
              <label>Organization</label>
              <input type="text" formControlName="orgnaization" placeholder="" />
            </div>
            <div class="input-section">
              <label>Telephone Number</label>
              <input type="text" formControlName="telephone" placeholder="e.g. 712 345 678" />
            </div>
            <div class="input-section">
              <label>Email Address</label>
              <input type="email" formControlName="email" placeholder="e.g transform@gmail.com" />
            </div>
            <div class="input-section">
              <label>Position in church</label>
              <div class="radios">
                <button class="btn btn-lg" type="button" [ngClass]="{'active':registrationForm.value.position === 1}"
                  (click)="changePosition(1)">Member</button>
                <button class="btn btn-lg" type="button" [ngClass]="{'active':registrationForm.value.position === 2}"
                  (click)="changePosition(2)">Pastor</button>
                <button class="btn btn-lg" type="button" [ngClass]="{'active':registrationForm.value.position === 3}"
                  (click)="changePosition(3)">Pastor's Wife</button>
                <button class="btn btn-lg" type="button" [ngClass]="{'active':registrationForm.value.position === 4}"
                  (click)="changePosition(4)">H.O.D</button>
                <button class="btn btn-lg" type="button" [ngClass]="{'active':registrationForm.value.position === 5}"
                  (click)="changePosition(5)">Sub-Regional Overseer</button>
                <button class="btn btn-lg" type="button" [ngClass]="{'active':registrationForm.value.position === 6}"
                  (click)="changePosition(6)">Other</button>
              </div>
            </div>
          </div>
          <div class="section details">
            <h4 class="heading">2. Other Details</h4>
            <div class="social-media">
              <div class="input-section">
                <label>facebook Handle</label>
                <input type="text" formControlName="facebook" placeholder="e.g. transform_summit" />
              </div>
              <div class="input-section">
                <label>twitter handle</label>
                <input type="text" formControlName="twitter" placeholder="e.g. transform_summit" />
              </div>
              <div class="input-section">
                <label>instagram handle</label>
                <input type="text" formControlName="instagram" placeholder="e.g. transform_summit" />
              </div>
            </div>
            <div class="input-section">
              <label>Do you have any food allergies</label>
              <input type="text" formControlName="allergies" placeholder="Write all allergies if you have any" />
            </div>
            <div class="input-section">
              <label>Choose a tshirt size</label>
              <div class="radios">
                <button class="btn btn-lg" type="button" [ngClass]="{'active':registrationForm.value.tshirt === 1}"
                  (click)="changeSize(1)">XS</button>
                <button class="btn btn-lg" type="button" [ngClass]="{'active':registrationForm.value.tshirt === 2}"
                  (click)="changeSize(2)">S</button>
                <button class="btn btn-lg" type="button" [ngClass]="{'active':registrationForm.value.tshirt === 3}"
                  (click)="changeSize(3)">M</button>
                <button class="btn btn-lg" type="button" [ngClass]="{'active':registrationForm.value.tshirt === 4}"
                  (click)="changeSize(4)">L</button>
                <button class="btn btn-lg" type="button" [ngClass]="{'active':registrationForm.value.tshirt === 5}"
                  (click)="changeSize(5)">XL</button>
                <button class="btn btn-lg" type="button" [ngClass]="{'active':registrationForm.value.tshirt === 6}"
                  (click)="changeSize(6)">XXL</button>
              </div>
            </div>
          </div>
          <div class="section payment-details">
            <h4 class="heading">3. Event Details</h4>
            <p>Registration fee is only <strong>Kshs 1,500</strong>. Do note that this fee is <strong>ONLY</strong>
              payable
              via MPESA</p>
            <p>Payment of this comes with: </p>
            <div class="indented">
              <p>Saturday Tea and Lunch</p>
              <p>T-Shirt</p>
              <p>Summit material</p>
            </div>
            <h5>M-PESA Payment Details:</h5>
            <p class="red">* When registering please ensure that your phone has been unlocked and you have the required
              amount in your M-PESA account</p>
            <div class="mpesa-details">
              <div class="input-section">
                <label>The phone number you wish to pay with:</label>
                <input type="text" formControlName="code" placeholder="e.g. 0700111222" />
              </div>
              <p>If you wish to pay later you can use the PayBill account details below</p>
              <p>M-PESA Paybill: <strong>361751</strong></p>
              <p>Paybill Account: <strong>TransformSummit</strong></p>
              <p class="warning">Please forward the M-PESA confirmation message to 0717383321 to streamline registration
              </p>
            </div>
            <h5>Registration Deadline</h5>
            <p>The deadline for registration is at <strong>11th August 2019</strong>. Any registrations after will incur
              an additional Kshs 500 and registration fee will be <strong>Kshs. 2,000</strong>
            </p>
          </div>
          <div class="button">
            <button class="btn btn-lg submit" type="submit">Register</button>
          </div>
        </form>
      </ng-template>
    </ng-template>
    <ng-template #success>
      <div class="success">
        <p class="success-msg">SUCCESS</p>
        <p>You have successfully registered for Transform Summit.</p>
        <p>We are eagerly waiting to see you there</p>
      </div>
    </ng-template>
  </div>
</div>