@import "../assets/scss/mixins";

.container {
  padding: 0;
  margin: 0;
  @include flex(row, center, center, wrap);
}

.main {
  width: 100vw;
  max-width: 1280px;
  height: 100%;
  min-height: 100vh;
  margin-top: 2%;
}

.header {
  @include flex(column, false, center, wrap);

  > h2 {
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
  }

  > h4 {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
  }

  > .navigator {
    width: 50%;
    @include flex(row, false, false, wrap);

    > .nav-items {
      margin: 0 2%;
    }
  }
}

.loader-container {
  height: 60vh;
  @include flex(row, center, center, wrap);
}

.loader {
  border: 10px solid #fdeee9; /* Light grey */
  border-top: 10px solid #f25a2c;
  border-bottom: 10px solid #f25a2c;
  border-radius: 50%;
  width: 10vh;
  height: 10vh;
  animation: spin 2s alternate-reverse infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.body {
  padding: 0 5% 5%;

  > .section {
    > h4 {
      color: #f25a2c;
      font-size: 28px;
      font-weight: 800;
    }

    > .input-section {
      width: 100%;
      padding: 1% 0;
      @include flex(row, space-between, false, wrap);

      > label {
        width: 15%;
        padding-left: 3%;
      }

      > input {
        padding: 0 1% 0.5%;
        height: 20px;
        width: 60%;
        border: none;
        outline: none;
        margin-bottom: 1%;
        text-decoration: none;
        border-bottom: 1px solid #999999;

        &:hover {
          transition: ease-in 0.5s 0.3s;
          border-bottom: 1px solid #f25a2c;
        }

        &:focus {
          border-bottom: 1px solid #f25a2c;
          -webkit-box-shadow: 0px 1px 0px 0px rgba(242, 90, 44, 1);
          -moz-box-shadow: 0px 1px 0px 0px rgba(242, 90, 44, 1);
          box-shadow: 0px 1px 0px 0px rgba(242, 90, 44, 1);
        }
      }

      > .radios {
        width: 60%;
        @include flex(row, false, false, wrap);
        > .btn {
          width: 30%;
          height: 10vh;
          text-align: center;
          background-color: #ffffff;
          border-radius: 4px;
          padding: 0 8%;
          margin: 0 1% 2%;
          overflow-wrap: break-word;
          border: 1px solid #999999;
          text-decoration: none;
          outline: none;

          &:hover {
            color: #f25a2c;
            border: 1px solid rgba(242, 90, 44, 0.3);
            -webkit-box-shadow: inset 0px 0px 1px 2px rgba(242, 90, 44, 1);
            -moz-box-shadow: inset 0px 0px 1px 2px rgba(242, 90, 44, 1);
            box-shadow: inset 0px 0px 1px 2px rgba(242, 90, 44, 1);
          }

          &:focus,
          &:active {
            color: #f25a2c;
            border: 1px solid rgba(242, 90, 44, 0.3);
            -webkit-box-shadow: inset 0px 0px 1px 2px rgba(242, 90, 44, 1);
            -moz-box-shadow: inset 0px 0px 1px 2px rgba(242, 90, 44, 1);
            box-shadow: inset 0px 0px 1px 2px rgba(242, 90, 44, 1);
          }
        }
      }
    }

    > .social-media {
      width: 100%;
      @include flex(row, space-between, false, wrap);

      > .input-section {
        width: 30%;
        @include flex(row, false, false, wrap);

        > label {
          text-transform: capitalize;
          margin-bottom: 1%;
        }

        > input {
          padding: 0 3% 1.5%;
          height: 20px;
          width: 100%;
          border: none;
          outline: none;
          margin-bottom: 1%;
          text-decoration: none;
          border-bottom: 1px solid #999999;

          &:hover {
            border-bottom: 1px solid #f25a2c;
          }

          &:focus {
            border-bottom: 1px solid #f25a2c;
            -webkit-box-shadow: 0px 1px 0px 0px rgba(242, 90, 44, 1);
            -moz-box-shadow: 0px 1px 0px 0px rgba(242, 90, 44, 1);
            box-shadow: 0px 1px 0px 0px rgba(242, 90, 44, 1);
          }
        }
      }
    }
  }

  .payment-details,
  .details {
    width: 100%;

    > :not(h4) {
      padding: 0 3%;
      font-size: 16px;
    }

    > .indented p {
      padding-left: 3%;
    }
  }

  .payment-details {
    > h5 {
      font-size: 20px;
      font-weight: 700;
      padding-top: 1%;
      color: #ff9373;
    }

    > .mpesa-details p strong {
      font-size: 18px;
      color: rgb(0, 128, 94);
      font-weight: 700;
    }

    > .mpesa-details {
      > .input-section {
        width: 100%;
        padding: 1% 0;
        @include flex(row, space-between, false, wrap);
  
        > label {
          width: 20%;
          padding-left: 3%;
        }
  
        > input {
          padding: 0 1% 0.5%;
          height: 20px;
          width: 60%;
          border: none;
          outline: none;
          margin-bottom: 1%;
          text-decoration: none;
          border-bottom: 1px solid #999999;
  
          &:hover {
            transition: ease-in 0.5s 0.3s;
            border-bottom: 1px solid #f25a2c;
          }
  
          &:focus {
            border-bottom: 1px solid #f25a2c;
            -webkit-box-shadow: 0px 1px 0px 0px rgba(242, 90, 44, 1);
            -moz-box-shadow: 0px 1px 0px 0px rgba(242, 90, 44, 1);
            box-shadow: 0px 1px 0px 0px rgba(242, 90, 44, 1);
          }
        }

        > p {
          font-size: 12px;
          margin-left: 40%;
          margin-top: 0;
        }
      }
    }
  }

  > .button {
    width: 100%;
    @include flex(row, flex-end, false, nowrap);

    > button {
      border-radius: 4px;
      border: 2px solid #2db38f;
      color: #2db38f;
      background-color: #ffffff;
      padding: 24px 40px;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 12px;

      &:hover {
        color: #ffffff;
        background-color: #2db38f;
      }
    }
  }
}

.red {
  color: #1f4fa1;
  font-weight: 800;
}

.active {
  color: #f25a2c;
  border-bottom: 1px solid #f25a2c;
  border: 1px solid rgba(242, 90, 44, 0.3);
  -webkit-box-shadow: inset 0px 0px 1px 2px rgba(242, 90, 44, 1);
  -moz-box-shadow: inset 0px 0px 1px 2px rgba(242, 90, 44, 1);
  box-shadow: inset 0px 0px 1px 2px rgba(242, 90, 44, 1);
}

.success {
  width: 100%;
  padding-top: 10%;
  @include flex(column, false, center, nowrap);

  > p {
    font-size: 18px;
    margin: 0;    
    margin-bottom: 2%;
  }

  > .success-msg {
    font-size: 40px;
    color: #3fbf82;
    padding-bottom: 3%;
    font-weight: bold;
  }
}

@media all and (max-width: 575px) {
  .header {
    > h2 {
      font-size: 28px;
    }

    > h4 {
      margin: 0;
      font-size: 16px;
    }
  }

  .body {
    padding: 0 10% 5%;
    > .section {
      > h4 {
        font-size: 20px;
      }

      > .input-section {
        margin: 4% 0;
        > label {
          width: 100%;
          padding-left: 0%;
          margin-bottom: 5%;
        }

        > input {
          height: 16px;
          width: 100%;
        }

        > .radios {
          width: 100%;
          > .btn {
            width: 48%;
            height: 12vh;
            margin: 0 1% 4%;
          }
        }
      }

      > .social-media {
        width: 100%;
        padding-left: 0;

        > .input-section {
          width: 100%;
          margin: 4% 0;

          > label {
            margin-bottom: 5%;
          }

          > input {
            padding: 0 1% 0.5%;
            height: 20px;
            width: 100%;
          }
        }
      }
    }

    .payment-details,
    .details {
      width: 100%;

      > :not(h4) {
        font-size: 14px;
      }

      > .indented p {
        padding-left: 15%;
      }
    }

    .payment-details {
      > h5 {
        font-size: 20px;
      }

      > .mpesa-details p strong {
        font-size: 16px;
      }
    }

    > .button {
      width: 100%;
      @include flex(row, flex-end, false, nowrap);

      > button {
        padding: 16px 32px;
      }
    }
  }

  
  .success {
    padding-top: 10%;
  
    > p {
      font-size: 14px;
      margin: 0;    
      margin-bottom: 2%;
    }
  
    > .success-msg {
      font-size: 40px;
      color: #3fbf82;
      padding-bottom: 3%;
      font-weight: bold;
    }
  }
}
