/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab");
@import url('https://fonts.googleapis.com/css?family=Montserrat:900,900i&display=swap');

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  line-height: 1.5em;
}

.test-border {
  border: 1px solid #000000;
}

label {
  font-size: 16px;
  font-weight: 800;
}